.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 64px;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.container {
  position: relative;
  width: 100%;
  max-width: 575px;
  height: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  border-radius: 8px;
  padding: 32px 48px;
  gap: 64px;
  box-shadow: var(--accent-shadow);
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 1em;
}

.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border: 6px solid var(--black);
  border-radius: 8px;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: auto;
}

.cta_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 80%;
}

.cta_primary {
  color: var(--white);
  background-color: var(--accent);
}

.cta_secondary {
  color: var(--black);
  background-color: var(--white);
}

.cta_primary,
.cta_secondary {
  padding: 10px 32px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cta_randomize {
  position: fixed;
  transform: translate(calc((-575px / 2) + 32px), -24px);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--black);
  outline: none;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  z-index: 150;
}

.cta_randomize > svg {
  height: 60%;
  width: auto;
}

.form_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: auto;
}

.form_text span {
  opacity: 0.8;
  font-size: 16px;
}

.form_text p {
  font-size: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.form_text span,
.form_text p {
  font-weight: 400;
  color: var(--white);
  line-height: 100%;
}

.form_visualizers {
  display: flex;
  gap: 16px;
  width: max-content;
}

.form_visualizers > div {
  position: relative;
  height: 64px;
  width: 64px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.form_visualizers > div img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  cursor: pointer;
  border-radius: 8px;
}

.form_visualizers > div input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 120;
  cursor: pointer;
}

.form_visualizers > div input:checked + label img {
  border: 2px solid var(--accent);
}
